@model WithdrawViewModel
@{
    string message = null;
    bool isSuccess = false;
    if (TempData["Message"] != null)
    {
        message = TempData["Message"].ToString();
        isSuccess = Convert.ToBoolean(TempData["IsSuccess"]);
    }
}
@section style {
    <style>
        .container {
            display: flex;
            justify-content: center;
        }

        body {
            background-color: #80E8FE;
        }

        label {
            font-weight: bold;
        }

        #btnBack {
            margin-right: 10px;
        }

        .card {
            margin-top: 100px;
        }

        .card-body {
            padding: 20px 30px;
        }

        .form-control::after {
            content: 'MMK';
        }

        .card {
            background-color: #fff; /* Set the background color of your card */
            border-radius: 10px; /* Set border radius for rounded corners */
            /* Box Shadow */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* x-offset y-offset blur-radius color */
        }
        h1{
            text-align:center;
        }
    </style>
}


<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            @if (message is not null)
            {
                <div class="alert alert-@(isSuccess ? "success" : "danger")" role="alert">
                    @message
                </div>
            }
            <h1 class="mx-auto mb-5">Withdraw</h1>
            <form method="post" action="/ATM/WithdrawValidate" id="myForm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-4">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="WithdrawAmount" name="WithdrawAmount" placeholder="Enter Withdraw Amount" aria-label="Enter Withdraw Amount" aria-describedby="basic-addon2">
                                <span class="input-group-text" id="basic-addon2">MMK</span>
                            </div>
                            <span id="WithdrawAmountMsg" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="float-end mt-2">
                    <div class="col-md-12 mx-auto mb-2">
                        <button type="button" class="btn btn-success" id="btnSave">
                            Save
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var inputField = document.querySelector('input')
            inputField.oninput = function () {
                var removeChar = this.value.replace(/[^0-9\.]/g, '') // This is to remove alphabets and special characters.
                var removeDot = removeChar.replace(/\./g, '') // This is to remove "DOT"
                this.value = removeDot

                var formatedNumber = this.value.replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                // console.log(formatedNumber);
                this.value = formatedNumber;
            }
        });

        $('#btnSave').click(function () {
            var WithdrawAmount = $('#WithdrawAmount').val();
            if(WithdrawAmount == null || WithdrawAmount == "" || WithdrawAmount == undefined)
            {
                $('#WithdrawAmountMsg').html('Please Enter Amount');
                return;
            }
            else
            {
                $('#WithdrawAmountMsg').html('');
            }

                PageLoad();
                $('#myForm').submit();
        })
    </script>
}